{% extends "account/email/base_email.html" %}

{% block content %}
    <p>Hi,</p>
    <p>You're receiving this email because you requested to change your email address on Votely.</p>
    <p>To confirm this change, please click the button below:</p>
    <div class="button-wrapper">
        <a href="{{ activate_url }}" class="button">Confirm Email Change</a>
    </div>
    <p>If you didn't request this change, you can safely ignore this email.</p>
    <p>If the button above doesn't work, use this link:</p>
    <p style="word-break: break-all;"><a href="{{ activate_url }}">{{ activate_url }}</a></p>
{% endblock %}
