@import 'variables';

.captcha-container {
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden; /* Чтобы края не обрезались */

    & > div {
        /* Убираем scale, чтобы не портить края */
        display: inline-block;
        margin: 0 auto;
        box-shadow: 0 4px 10px rgba(0,0,0,0.05);
        border-radius: 8px;
    }

    /* Если на мобилках всё равно не влезает */
    @media (max-width: 350px) {
        & > div {
            transform: scale(0.85);
            transform-origin: center top;
        }
    }
}
